body {
  font-family: "Cairo", sans-serif;
}

.center {
  @apply items-center justify-center;
}

.thin-scroll {
  scrollbar-width: thin;
}

.thin-scroll::-webkit-scrollbar {
  @apply w-[3px];
}

.thin-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-100;
}

input:not(.no-ring) {
  @apply focus:outline-none focus:ring-2;
}

.focus-ring {
  @apply focus:outline-none focus:ring-2;
}

.truncate-x {
  overflow-x: clip;
  overflow-y: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::selection {
  @apply bg-color-primary text-white;
}

::-moz-selection {
  @apply bg-color-primary text-white;
}

.center-title {
  @apply mb-12 mt-6 w-full text-center text-3xl;
}

.opacity-hover {
  @apply opacity-[.85] transition-opacity hover:opacity-100 active:opacity-[.85];
}

.opacity-hover-low {
  @apply opacity-50 transition-opacity hover:opacity-90 active:opacity-50;
}

.shadow-hover {
  @apply shadow-md transition-shadow hover:shadow-lg active:shadow-md disabled:shadow-none;
}

.icon-button {
  @apply rounded bg-white transition hover:bg-gray-100 dark:bg-dark-primary dark:hover:bg-dark-secondary;
}

.v-divider {
  @apply mx-2 h-[75%] border-r-[1px] border-black opacity-20 dark:border-white dark:opacity-30;
}

.h-divider {
  @apply border-t-[1px] border-black opacity-20 dark:border-white dark:opacity-30;
}

.input-button {
  @apply absolute left-2.5 top-1/2 -translate-y-1/2;
}
